{
  "extends": ["standard", "standard-react"],
  "globals": {
    "__DEV__": false,
    "requestAnimationFrame": true,
    "fetch": true,
    "React": true
  },
  "rules": {
    "space-before-function-paren": [0, "always"],
    "properties": "never"
  }
}