{
  "extends": ["standard", "standard-react"],
  "globals": {
    "__DEV__": false,
    "requestAnimationFrame": true,
    "browser": true,
    "React": true
  },
  "rules": {
    "space-before-function-paren": [0, "always"],
    "camelcase": [0, {"properties": "never"}],
    "no-undef": 0,
    "react/prop-types": 0
  }
}